<header>
    <h1>What should we do today?</h1>
    <p>Reception level suggestions for home schooling fun.</p>
</header>
<div class="main">
    <div class="m-today">
        <h2>Today's activities</h2>

        <section>
            <h3>Game: Number Magic Quiz Level 1</h3>
            <h4>From: cbeebies</h4>
            <p><a href="https://www.bbc.co.uk/cbeebies/puzzles/numberblocks-number-magic-quiz-level-1" class="a-button">Play <span class="visibility-hidden">Number Magic Quiz Level 1</span> now</a></p>
        </section>

        <section class="m-activity">
            <h3>Fun activity</h3>
            <p class="m-activity__suggestion">Dress up as mummy and/or daddy (feel free to use their clothes!)</p>
        </section>

        <section class="m-pe">
            <h3>Physical Education</h3>
            <p>Don't forget to get some exercise, PE with The Body Coach UK is every day at 9am</p>
            <p><a href="https://www.youtube.com/user/thebodycoach1/featured">Keep Fit with Joe Wicks</a></p>
        </section>

        <section>
            <h3>Dunton Green Breaktime!</h3>
            <p>Coming soon, 3pm every weekday - a chance for the Dunton Green kids to have a virtual breaktime.</p>
            <p>Password is required, only for Dunton Green Primary School parents, check WhatsApp for details.</p>
        </section>
    </div>

    <div class="m-weekly">

        <h2>Weekly recommended app</h2>

        <section>
            <h3>Khan Academy Kids</h3>
            <p>Learn early literacy, reading, writing, language, and math, while encouraging creativity and building social-emotional skills.</p>

            <p><a href="https://learn.khanacademy.org/khan-academy-kids/" class="a-button">Get Khan Academy Kids Now</a></p>
        </section>
    </div>
</div>

<footer>
    <p>Disclaimer: I'm just a parent trying to make the home schooling thing more fun and structured for my son and give his friends the same tasks, so they have some common things in their lockdown experience.</p>
    <p>Anyone can use this site, but breaktime meeting is only for Dunton Green primary school reception children (with parental supervision!).</p>
</footer>
